body {
    background-color: 
    #cccccc;
}
.row {    
    height: 5em;
}

#frame {
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 20px;
    background-color:blue;
    margin: auto;
    text-align: center;
    width: 35em;
    height: 40em;
}

#calc-display{
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size:60px;
    color: white;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

button {
    vertical-align: middle;
    border: 1px solid white;
    border-radius: 20px;
    background-color:orange;
    color: white;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.number-button, .operation-button, .equals-button {
    width: 15%;
    height: 90%;
    margin: 0.2em;
    font-size: x-large;
}

.reset-button {
    width: 30%;
    height: 50%;
    margin: 0.2em;
    font-size: x-large;
}
